body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #23232e;
    color: white;
    text-align: center;
    padding: 25px;
}
.container img {
    width: 7%;
}
h2 {

    text-transform: uppercase;
    font-size: 50px;
}
.container p {

}
.circle {
    border: 1px solid white;
    border-radius: 15px;
    padding: 5px 8px;
}

.whatido {
    text-align: center;
    padding: 30px 25%;
    margin-bottom: 20px;
    overflow: hidden;
 
}
.row {
    width: 100%;
    text-align: left;
}
.col {
    width: 31.33%;
    float: left;
    margin: 1%;
 
}
.mywork {
    text-align: center;
    background-color: #23232e;
    color: white;
    padding-top: 10px;
 
    overflow: hidden;
    margin-bottom: 20px;
}
.mywork a {
    text-decoration: none;
    color: white;
    margin: 7px;
    padding: 2px;
    padding-bottom: 20px;
   margin-bottom: 20px;
}
.mywork a:nth-child(1){
    border-bottom: 5px solid red;
}
.mywork-row {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px 24%;


}
.mywork-col {
    padding: 20px;
  text-align: center;
  grid-gap: 0px;
  column-gap: 0px;

}
.mywork-col img {
    width: 100%;
}
.mywork-col p {
    font-size: 12px;
}
.mywork-col::after {
    content: "";
    clear: both;
    display: table;
}
.btn {
    padding: 12px 30px;
    background-color: #7b77c9;
    color: white;
    margin-bottom: 50px;
    border-radius: 5px;
    border: transparent;
}
.photography {
    background-color: white;
    text-align: center;
}
.photography h2, .photography p {
    padding: 10px 24%;
}
.subscribe-area {
    background-color: #23232e;
    text-align: center;
    color: white;
    padding: 70px;
}
.subscribe img {
    padding-bottom: 20px;
}
.subscribe p {
    padding-bottom: 20px;
}
.email-input {
    padding: 10px;
    border-radius: 5px;
    border: transparent;
}
.footer-area {
    text-align: center;
}


